/* line 4, ../sass/main.sass */
body {
  background-color: #fbfbfb;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding-bottom: 12px;
}

/* line 10, ../sass/main.sass */
.footer {
  width: 100%;
  text-align: center;
}
@media (max-width: 991px) {
  /* line 13, ../sass/main.sass */
  .footer .itens {
    margin: 20px 0;
  }
}
/* line 16, ../sass/main.sass */
.footer .itens:after {
  content: "";
  display: block;
  width: 1px;
  height: 26px;
  background-color: #fff;
  position: relative;
  right: -50%;
  top: 12px;
}
@media (max-width: 991px) {
  /* line 16, ../sass/main.sass */
  .footer .itens:after {
    display: none;
  }
}
/* line 27, ../sass/main.sass */
.footer a {
  color: #fff;
  text-decoration: none;
  padding: 13px 20px;
  border-radius: 25px;
  border: 1px solid #fff;
}
/* line 33, ../sass/main.sass */
.footer a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* line 36, ../sass/main.sass */
.body {
  background-color: #fff;
  margin-bottom: 40px;
}
/* line 40, ../sass/main.sass */
.body .row p, .body .row figure {
  margin: 50px 0;
}
/* line 42, ../sass/main.sass */
.body h1 {
  text-align: center;
  margin: 60px 0 30px;
}

/* line 47, ../sass/main.sass */
.bg-blue {
  background: url("../img/grandientbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 52, ../sass/main.sass */
.header {
  height: 120px;
  text-align: center;
}
/* line 55, ../sass/main.sass */
.header .fa {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  margin-top: 30px;
}

/* line 61, ../sass/main.sass */
.me {
  padding: 125px 0;
  text-align: center;
}
/* line 64, ../sass/main.sass */
.me figure {
  margin-bottom: 40px;
}
/* line 66, ../sass/main.sass */
.me h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  font-size: 30px;
  position: relative;
  bottom: 30px;
}
/* line 73, ../sass/main.sass */
.me #face {
  display: flex;
}
@media (max-width: 768px) {
  /* line 73, ../sass/main.sass */
  .me #face {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}
/* line 79, ../sass/main.sass */
.me .ballon {
  display: none;
}
/* line 81, ../sass/main.sass */
.me .ballon a {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 15px;
  position: relative;
  left: 210px;
  top: 330px;
  z-index: 2;
  color: #404040;
  text-decoration: none;
}

/* line 92, ../sass/main.sass */
form {
  margin-bottom: 60px;
  color: #555;
}

/* line 96, ../sass/main.sass */
form input[type=text], form input[type=email], form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 7px 14px;
  resize: none;
  border: 1px solid #808080;
  border-radius: 4px;
}

/* line 104, ../sass/main.sass */
form input[type=radio] {
  margin: 15px 5px 15px 10px;
}

@keyframes blinkLeft2 {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    tranform: translateY(15px) scaleY(0);
  }
  100% {
    animation-timing-function: ease-out;
  }
}
@keyframes blinkLeft {
  0%, 10%, 100% {
    transform: scaleY(1);
  }
  5% {
    transform: scaleY(0.2);
  }
}
/* line 122, ../sass/main.sass */
.eyes {
  animation: blinkLeft 3.5s 1s infinite;
  transform-origin: 0px 380px;
}
