<header class="container-fluid header">
    <i class="fa fa-at"></i>
</header>

<main class="container-fluid body">
  <div class="container">
    <h1>Outros</h1>
    <div class="row">
      <div class="col-md-4">
        <figure><img src="img/html.png" alt=""></figure>
      </div>
      <div class="col-md-8">
        <h2>Intranet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec massa posuere, suscipit turpis tempor, vehicula neque. Vivamus id consectetur lorem. Integer mattis ligula et consequat congue. Pellentesque at nisi ac erat dapibus ullamcorper. Sed urna mauris, dictum sed tristique eu, aliquam sed libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed pulvinar nibh ut sem consectetur cursus. Proin tristique diam in ipsum tempor sodales. Maecenas felis nunc, aliquet sit amet malesuada posuere, bibendum sit amet turpis. Donec vulputate suscipit est non commodo. Suspendisse justo arcu, sagittis sit amet suscipit vel, congue eget augue. Sed et augue et dui accumsan imperdiet. Fusce congue mi vel tortor imperdiet, ut venenatis justo ornare.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 pull-right">
        <figure class="pull-right"><img src="img/html.png" alt=""></figure>
      </div>
      <div class="col-md-8 pull-right">
        <h2>Qualquer outra coisa</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec massa posuere, suscipit turpis tempor, vehicula neque. Vivamus id consectetur lorem. Integer mattis ligula et consequat congue. Pellentesque at nisi ac erat dapibus ullamcorper. Sed urna mauris, dictum sed tristique eu, aliquam sed libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed pulvinar nibh ut sem consectetur cursus. Proin tristique diam in ipsum tempor sodales. Maecenas felis nunc, aliquet sit amet malesuada posuere, bibendum sit amet turpis. Donec vulputate suscipit est non commodo. Suspendisse justo arcu, sagittis sit amet suscipit vel, congue eget augue. Sed et augue et dui accumsan imperdiet. Fusce congue mi vel tortor imperdiet, ut venenatis justo ornare.</p>
      </div>
    </div>
  </div>
</main>