<header class="container-fluid header">
    <i class="fa fa-question"></i>
</header>

<main class="container-fluid body">
  <div class="container">
    <div class="row">
      <h1>Não sei o que eu quero</h1>
      <p class="text-center">Nós podemos te ajudar a encontrar a solução perfeita para sua empresa. Basta preencher o formulário abaixo.</p>

      <form class="col-md-8 col-md-offset-2">
        <input type="text" name="nome" placeholder="Nome">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="segmento" placeholder="Qual o segmento da sua empresa?">
        <input type="radio" name="tamanho" value="Pequena"> Pequena
        <input type="radio" name="tamanho" value="Média"> Média
        <input type="radio" name="tamanho" value="Grande"> Grande
        <textarea name="comentario" id="">Gostaria de deixar algum comentário?</textarea>
        <input type="submit" class='btn btn-lg btn-default pull-right' name="enviar" value="Enviar">
      </form>
    </div>  
  </div>
</main>